  
<img *ngIf="loading" src="../../../../../assets/img/loader.gif" style="margin-left: 35rem; width: 20%" />
<div  *ngIf="!loading" style="padding-left: 9rem;padding-right: 9rem;">
  <!-- <div class="bg-dark" style="width: 100%;height: 100%;"> -->
   
    <h4 class="refer"> LOGIN CREDENTIALS  </h4>
    <br>
    <form [formGroup]="searchform">
      <div class="active-pink-3 active-pink-4 mb-4" style="margin-left: 1.5rem;margin-right: 1.5rem;">
        <input class="form-control" name="SearchUserlist" maxlength="20" specialIsAlphaNumeric minlength="3" type="text"
          placeholder="Search Employee Number,User Name" aria-label="Search" [(ngModel)]="SearchUser" formControlName="SearchUser" (input)="searchUserList($event.target.value);"
          style="width: 100%;">
        <div *ngIf="searchform.controls.SearchUser.errors?.minlength">Minimum 3 characters required.</div>
      </div>
    </form>
    <div style="margin-left: 1.5rem;margin-right: 1.5rem;">
      <table class="table table-responsive table-hover table-bordered table">
        <thead class="tableHead">
          <th> Employee Number </th>
          <th> Employee Name </th>
          <th> User Name </th>
          <th> Reset </th>
        </thead>
        <tbody>
          <tr *ngFor="let x of loginCreds">
            <td>{{x.EmployeeNumber }}</td>
            <td>{{x.Employeename}}</td>
            <td>{{x.UserId}}</td>
            <td>
              <a [routerLink]="['resetPasswords',x.EmployeeKey]" class="btn btn-primary"><b>Reset Password</b></a>
            </td>
          </tr>
          <tr *ngIf="loginCreds?.length == 0">
            <td colspan="4">
              No Records Found
            </td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-success" (click)="previousPage()" *ngIf="showHide1">&#60;&#60; Previous</button>
      <button class="btn btn-success" (click)="nextPage()" *ngIf="showHide2">Next >></button>
    </div>
  <!-- </div> -->
</div>