<img *ngIf="loading" src="../../../../../assets/img/loader.gif" style="margin-left: 35rem; width: 20%" />
<div *ngIf="!loading" style="width: 100%;height: 100%;">
  <div class="bg-dark" style="width: 100%;height: 100%;">

    <div style="text-align:center">
      <h4 class="refer">SEARCH MEETING/TRAINING/EVENT BY </h4>
    </div>
    <br>
    <div style="text-align:center">
      <a [routerLink]="['EventView']" class="btn btn-primary"><b>View / Edit
          Meeting/Training/Event</b></a>
    </div>
    <br>
    <div class="form-row col-md-12 bg-info" style="margin-left: 1.5rem;margin-bottom: 1rem;width: 96.5%;padding-top: 1rem;padding-bottom: 1rem;padding-left: 5rem;padding-right: 0rem">
      <div class="col-md-6 ">
        <div class="form-group" style="margin-left: 0.7rem;width: 75%;">
          <label for="people">Job Title</label>
          <ng-multiselect-dropdown [placeholder]="'Select Job Title'" [data]="jobTitle" [(ngModel)]="JobTitleKey"
            [settings]="dropdownSettings" (onSelect)="filterMtngTrainingList()" (onDeSelect)="filterMtngTrainingList()"
            (onSelectAll)="filterMtngTrainingList()" (onDeSelectAll)="filterMtngTrainingList()">
          </ng-multiselect-dropdown>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group " style="margin-left: 0.7rem;width: 75%;">
          <label for="people">Employee</label>
          <ng-multiselect-dropdown [placeholder]="'Select Employee'" [data]="empList" [(ngModel)]="EmployeeKey"
            [settings]="dropdownSettings1" (onSelect)="filterMtngTrainingList()" (onDeSelect)="filterMtngTrainingList()"
            (onSelectAll)="filterMtngTrainingList()" (onDeSelectAll)="filterMtngTrainingList()">
          </ng-multiselect-dropdown>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group " style="margin-left: 0.7rem;width: 100%;">
          <label for="people">Department</label>
          <select style="background-color: #D4F4FF !important;" class="form-control col-sm-9 col-md-9 col-lg-9"
            [(ngModel)]="DepartmentKey" (change)="filterMtngTrainingList()">
            <option value="">--Select--</option>
            <option *ngFor="let d of department" [value]="d.DepartmentKey">
              {{d.DepartmentName}}
            </option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group " style="margin-left: 0.7rem;width: 100%;">
          <label for="people">Event Name</label>
          <select name="eventtype" style="background-color: #d4f4ff;margin-left: 0.1rem;width: 75%" class="form-control"
            [(ngModel)]="EventType" (change)="filterMtngTrainingList()">
            <option value="">--Select--</option>
            <option *ngFor="let b of event" [value]="b.ActionKey">
              {{b.ActionType}} - {{b.Action}}
            </option>
          </select>
        </div>
      </div>
      <!-- </div>
    <div class="form-row col-md-12"> -->
      <div class="col-md-6 ">
        <div class="form-group" style="margin-left: 0.7rem;">
          <label for="people">From Date </label>
          <!-- <igx-datePicker cancelButtonLabel="CANCEL" todayButtonLabel="TODAY" [labelVisibility]="none" [value]="date1"
            style="width: 75%;" [(ngModel)]="fromdate" (onSelection)="filterMtngTrainingList()"></igx-datePicker> -->
          <ng-datepicker [options]="options" position="top-right" [(ngModel)]="fromdate" (ngModelChange)="filterMtngTrainingList()"></ng-datepicker>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group " style="margin-left: 0.7rem;">
          <label for="people">To Date </label>
          <!-- <igx-datePicker cancelButtonLabel="CANCEL" todayButtonLabel="TODAY" [labelVisibility]="none" [value]="date1"
            style="width: 75%;" [(ngModel)]="todate" (onSelection)="filterMtngTrainingList()"></igx-datePicker> -->
          <ng-datepicker [options]="options" position="top-right" [(ngModel)]="todate" (ngModelChange)="filterMtngTrainingList()"></ng-datepicker>
        </div>
      </div>
    </div>

    <form [formGroup]="searchform">
      <div class="active-pink-3 active-pink-4 mb-4" style="margin-left: 1.5rem;margin-right: 1.5rem;">
        <input class="form-control" name="searchMeetingview" maxlength="20" specialIsAlphaNumeric minlength="3" type="text"
          placeholder="Search Action Name, Event Venue,Event Host" aria-label="Search" [(ngModel)]="SearchMeetingTraining"
          formControlName="SearchMeetingTraining" (input)="searchMeetingTraining($event.target.value);" style="width: 100%;">
        <div *ngIf="searchform.controls.SearchMeetingTraining.errors?.minlength">Minimum 3 characters required.</div>
      </div>
    </form>

    <div style="margin-left: 1.5rem;margin-right: 1.5rem;">
      <table class="table table-responsive table-hover table-bordered" style="display: inline-table">
        <thead class="tableHead">
          <th> Action Name </th>
          <th> Event Venue </th>
          <th> Event Host </th>
          <th> Date </th>
          <th> Time </th>
          <th> Status </th>
          <th> Notes </th>
        </thead>
        <tbody>
          <tr *ngFor="let x of meetingTraining" [routerLink]="['viewEventEmployees', x.EventKey]">
            <td>{{x.ActionType}} - {{x.Action}}</td>
            <td>{{x.EventVenue}}</td>
            <td>{{x.EventHost}}</td>
            <td>{{x.Eventdate}}</td>
            <td>{{x.EventStartTime}} - {{x.EventEndTime}}</td>
            <td *ngIf="x.HasAttended == 0">Not Attended</td>
            <td *ngIf="x.HasAttended == 1">Attended</td>
            <td>{{ x.MeetingNotes }}</td>
          </tr>
          <tr *ngIf="meetingTraining?.length == 0">
            <td colspan="7" class="no-data-available">No records found</td>
          </tr>

        </tbody>
      </table>
    </div>

  </div>
</div>