<div style="width: 100% !important;overflow-x: hidden; padding-left: 10rem;padding-right: 8rem; padding-top:1rem !important; padding-bottom:0rem !important;">
  <div class="row col-md-12 ">
    <h4 style="margin-left: 42%;">MANUAL CRONJOB CALL</h4>
  </div>
  <div class="row bg-info col-md-12" style="padding: 2rem">
    <a class="btn btn-success" (click)="cronJobMST()" style="margin-left: 40%"><b>CRONJOB MST</b></a>
    <a class="btn btn-success" (click)="cronJobCST()"><b>CRONJOB CST</b></a>
  </div>
</div>