<img *ngIf="loading" src="../../../../../assets/img/loader.gif" style="margin-left: 35rem; width: 20%" />
<div class="py-5" *ngIf="!loading" style="padding-left: 9rem;padding-right: 9rem;">
  <div class="bg-dark" style="width: 100%;height: 100%;">

    <h4 style="text-align: center"> WORK-ORDER TYPE </h4>
    <br>
    <div style="text-align:center">
      <a [routerLink]="['CreateWorkorderType']" class="btn btn-success"><b>CREATE WORK-ORDER TYPE</b>
      </a>
    </div>
    <form [formGroup]="searchform">
      <div class="active-pink-3 active-pink-4 mb-4" style="margin-left: 1.5rem;margin-right: 1.5rem;">
        <input class="form-control" name="searchworkordertype" maxlength="20" specialIsAlphaNumeric minlength="3" type="text"
          placeholder="Search Work-Order Type" aria-label="Search" [(ngModel)]="searchworkordertype" formControlName="searchworkordertype"
          (input)="searchWOType($event.target.value);" style="width: 100%;">
        <div *ngIf="searchform.controls.searchworkordertype.errors?.minlength">Minimum 3 characters required.</div>
      </div>
    </form>
    <div style="margin-left: 1.5rem;margin-right: 1.5rem;">
      <table class="table table-responsive table-hover table-bordered table" style="display: inline-table">
        <thead class="tableHead">
          <th> Work-Order Type </th>
          <th>Edit</th>
        </thead>
        <tbody>
          <tr *ngFor="let x of workorderTypeList">
            <td>{{ x.WorkorderTypeName }}</td>

            <td>
              <a [routerLink]="['EditWorkorderType', x.WorkorderTypeKey]" class="btn btn-primary"><b>EDIT</b></a>&nbsp;&nbsp;
              <a class="btn btn-danger" (click)="basicModal.show(); passWOT(x.WorkorderTypeKey)"><b>DELETE</b></a>
            </td>
          </tr>
          <tr *ngIf="workorderTypeList?.length == 0">
            <td colspan="2" class="no-data-available">No records found</td>
          </tr>
          <div mdbModal #basicModal="mdbModal" class="modal fade" role="dialog" aria-labelledby="myBasicModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                    <span aria-hidden="true">×</span>
                  </button>
                  <h4 class="modal-title w-100" id="myModalLabel"></h4>
                </div>
                <div class="modal-body">
                  Are you sure you want to delete this?
                </div>
                <div class="modal-footer">
                  <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal.hide(); deleteWOType()"
                    mdbWavesEffect>Yes</button>
                  <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="basicModal.hide()"
                    mdbWavesEffect>No</button>
                </div>
              </div>
            </div>
          </div>
        </tbody>
      </table>
      <button class="btn btn-success" style="float:left" (click)="previousPage()" *ngIf="showHide1">&#60;&#60; Previous</button>
      <button class="btn btn-success" style="float:right;" (click)="nextPage()" *ngIf="showHide2">Next >></button>
    </div>
  </div>
</div>