<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark">
  <mdb-navbar-brand>
    <a class="navbar-brand" href="http://troodontechnology.com/">
      <img src="assets/img/TROOWORK.png" style="width: 10rem;">
    </a>
  </mdb-navbar-brand>
</mdb-navbar>

<div style="padding-top:0% !important; padding-bottom:0% !important;">
  <div class="row col-md-12 col-sm-12 col-xs-12 col-lg-12">
    <h4 style="margin-left: 12%;">USER WORK REQUEST</h4>
  </div><br>
  <br>
  <div class="row bg-info  col-md-12 col-sm-12 col-xs-12 col-lg-12" style="width: 110% !important;">
    <div class="form-group  col-md-12 col-sm-12 col-xs-12 col-lg-12">
      <label>Comments</label>
      <textarea class="form-control rounded-1 " maxlength="85" rows="5" style="width: 103% !important;" cols="100" [(ngModel)]="comments"
        placeholder="Enter the comments" id="exampleFormControlTextarea1"></textarea>
    </div>
  </div>
  <br>
</div>

<div style="padding-left: 2%;padding-top:0% !important; padding-bottom:0% !important;">
  <br>
  <div class="row  col-md-12 col-sm-12 col-xs-12 col-lg-12">
    <button type="button" style="margin-left: 27%;" class="btn btn-success" (click)="Submit();"><b>SUBMIT</b></button>
  </div>
</div>

<div class="container bg-footer" style="width: 102%;max-width:102%;">
  <div class="row">
    <div class="col-md-12 mt-3">
      <p class="text-sm-center">
        © 2018 TrooWork - All Rights Reserved /Privacy Policy/ Sitemap
        <br>
      </p>
    </div>
  </div>
</div>