<div style="padding-left: 9rem;padding-right: 9rem;">
  <!-- <div class="container"> -->
  <div class="row col-md-12 ">
    <h4 style="margin-left: 42%;">CREATE QUICK WORK ORDER</h4>
  </div>

  <div style="margin-left: 1.5rem;margin-right: 1.5rem;" class="row bg-info col-md-12">
    <div class="col-md-6">
      <h3 style="text-align: right"></h3>
      <div class="form-group">
        <label>Employee</label><br>
        <select style="background-color: #D4F4FF !important;" class="form-control" [(ngModel)]="EmployeeKey" required>
          <option value="">--Select--</option>
          <option *ngFor="let e of EmployeeOption" [value]="e.EmployeeKey">
            {{e.EmployeeText}}
          </option>
        </select>
      </div>
      <div class="form-group" style="margin-top: 1.6rem">
        <label>Building*</label><br>
        <select style="background-color: #D4F4FF !important;" class="form-control" [(ngModel)]="FacilityKey" required>
          <option value="">--Select--</option>
          <option *ngFor="let b of facilitylist" [value]="b.FacilityKey">
            {{b.FacilityText}}
          </option>
        </select>
      </div>
      <div class="form-group" style="margin-top: 3rem">
        <input type="checkbox" [(ngModel)]="isPhotoRequired" data-md-icheck (change)="toggleVisibility($event)" />&nbsp;
        <label>Photo Required</label>
      </div>
    </div>
    <div class="col-md-6">
      <h3 style="text-align: right"></h3>
      <div class="form-group">
        <label>Workorder Notes*</label>
        <textarea class="form-control rounded-1" maxlength="200" [(ngModel)]="WorkorderNotes" rows="5" style="resize: none;"></textarea>
      </div>
      <div class="form-group">
        <label>Priority Level</label><br>
        <select style="background-color: #D4F4FF !important;width: 97%" class="form-control" [(ngModel)]="PriorityKey"
          required>
          <option value="">--Select--</option>
          <option *ngFor="let b of prioritylist" [value]="b.PriorityKey">
            {{b.PriorityText}}
          </option>
        </select>
      </div>
    </div>
    <br>
    <div class="row col-md-12" style="margin-left: 40%">
      <a style="color:white !important" class="btn btn-success" (click)="saveQuickWorkOrder()"><b>SAVE</b>
      </a>
    </div>
  </div>
</div>