/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 21, 2018, 12:43:38 PM
    Author     : Troodon
*/

/*.troowork_logo{
        width: 69%;
}*/
.trooworklogo{
    width: 70%;
    margin-left: 13%;
    padding-top: 5%;
}

.landingimage{
    width: 58%;
    margin-left: 18%;
}
.trooworkintro{
    font-size:0.8em;
    text-align: justify;
    color:#696969;
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
    line-height: 1.4em;

}
.trooworkimportance{
     line-height:1.4em;
     color: #006699;
     font-size:0.8em;
     text-align: justify;
     font-family: Trebuchet MS, Helvetica, sans-serif;
}
/*.firstclass{
     text-align: center !important;
}*/
/*.productandsupport{*/
    
/*}*/
/*.firstclass{
    padding: non !notimportant;
}*/
.product{
   margin-left: 18%;
}
.support{
    margin-left: 18%;
}
.privacypolicy{
    margin-left: 18%;
}
.aboutus{
    margin-left: 9%;
}
/*.trooworkintrotwo{
   font-size:1em;
    color:#696969;
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
    line-height: 1.4em;
  
}*/
.form-control{
    text-align: center;
    /*width: 60%;*/
}
.intro{
    text-align: justify;
    margin: 0 auto;
    padding-top: 2.6%;
}
.input{
    padding-top: 2%;
}
.resources{
    padding-top:  3.7%;
}
/*.login_username{
    width: 70%;
    margin-left: 14%;
}
.login_password{
    width: 70%;
    margin-left: 14%;
}
.login_tenantId{
    width: 70%;
    margin-left: 14%;*/
/*}*/
.login_signin{
    width: 70%;
    margin-left: 14%;
    padding-top: 0%;
    line-height: 99%;
}
.checkbox{
    margin-left: 14%;
}

.top_margin{
     margin-top: 2.5%;
}