<div style="margin-left: 15rem;margin-right: 15rem;">

  <div style="text-align:center">
    <h4 style="color: #174a5e;">RESET PASSWORD</h4>
  </div>

  <br>
  <div class="col-md-12 bg-info" style="padding-top: 2rem">
    <div class="row col-md-12" style="margin-bottom: 2rem">
      <h5 style="text-align:right" class="col-md-4"><label for="username">User Name: </label></h5>
      <div class="col-md-8" style="text-align:left">
        <input *ngIf="build" type="text" style="background-color: #D4F4FF !important;width: 92%" class="form-control"
          id="username" [(ngModel)]="build[0].UserId">
      </div>
    </div>
    <div class="row col-md-12">
      <h5 style="text-align:right" class="col-md-4"><label for="Password">Password: </label></h5>
      <div class="col-md-8" style="text-align:left">
        <input *ngIf="build" type="password" disabled="disabled" style="background-color: #D4F4FF !important;width: 92%"
          class="form-control" id="Password" [(ngModel)]="build[0].Password">
      </div>
    </div>
    <div class="row col-md-12" style="margin-left: 30%">
      <a (click)="resetUserPassword(build[0].UserId,'troowork',build[0].UserLoginId)" class="btn btn-success" style="color:white !important"><b>Reset
          & Send Email</b> </a>
      <a (click)='goBack()' class="btn btn-warning" style="color:white !important"><b>Go
          Back
        </b>
      </a>
    </div>
  </div>

</div>