<div style="margin-left: 15rem;margin-right: 15rem;">

  <div style="text-align:center">
    <h4 style="color: #174a5e;">JOB-TITLE ADD</h4>
  </div>

  <br>
  <div class="col-md-12 bg-info" style="padding-top: 2rem">
    <div class="row col-md-12">
      <h5 style="margin-top: 2rem;text-align:right" class="col-md-4"><label for="building">Job-Title* </label></h5>
      <div class=" col-md-8" style="text-align:left">
        <input type="text" placeholder="Job-Title" style="margin-top: 2rem;background-color: #D4F4FF !important;"
          maxlength="40" class="form-control" id="Building" [(ngModel)]="JobtitleName">
      </div>
    </div>
    <div class="row col-md-12">
      <h5 style="margin-top: 2rem;text-align:right" class="col-md-4"><label for="building">Job-Title Description*
        </label></h5>
      <div class=" col-md-8" style="text-align:left">
        <input type="text" placeholder="Job-Title Description" style="margin-top: 2rem;background-color: #D4F4FF !important;"
          maxlength="95" class="form-control" id="Building" [(ngModel)]="JobTitleDescription">
      </div>
    </div>
    <div class="row col-md-12">
      <div style="margin-left: 45%">
        <a style="color:white !important" class="btn btn-success" routerLinkActive="active" (click)="addNewJobtitle(JobtitleName,JobTitleDescription)"><b>Add</b>
        </a>&nbsp;
        <a (click)='goBack()' class="btn btn-warning" style="color:white !important"><b>Go
            Back
          </b>
        </a>
      </div>
    </div>
  </div>

</div>