   
<img *ngIf="loading" src="../../../../../assets/img/loader.gif" style="margin-left: 35rem; width: 20%" />
<div *ngIf="!loading"  style="padding-left: 9rem;padding-right: 9rem;">
  <div class="row col-md-12 ">
    <h4 style="margin-left: 42%;">VIEW EMPLOYEE DETAILS</h4>
  </div>
  <div class="form-row col-md-12">
    <div class="col-md-6 ">
      <div class="form-group" style="margin-left: 0.7rem;">
        <h5><label for="people">Job Title</label></h5>
        <select [(ngModel)]="JobTitleKey" style="width: 20rem; background-color: #d4f4ff;" class="form-control col-sm-9 col-md-9 col-lg-9"
          (change)="getempdettablewithselectedddvsa()">
          <option value="">--Select--</option>
          <option *ngFor="let j of jobtitle" [value]="j.JobTitleKey">
            {{j.JobTitleText}}
          </option>
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group " style="margin-left: 0.7rem;">
        <h5><label for="people">Managers</label></h5>
        <select [(ngModel)]="ManagerKey" style="width: 20rem; background-color: #d4f4ff;" class="form-control col-sm-9 col-md-9 col-lg-9"
          (change)="getempdettablewithselectedddvsa()">
          <option value="">--Select--</option>
          <option *ngFor="let m of manager" [value]="m.ManagerKey">
            {{m.ManagerName}}
          </option>
        </select>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <form [formGroup]="searchform">
      <div class="active-pink-3 active-pink-4 mb-4" style="margin-left: 0.7rem;">
        <input class="form-control" name="searchempdetails" maxlength="20" specialIsAlphaNumeric minlength="3" type="text"
          placeholder="Search Employee Number,First Name,Last Name,Job Title,Contact No" aria-label="Search"
          [(ngModel)]="SearchEmpDetails" formControlName="SearchEmpDetails" (input)="searchEmployeeDetails($event.target.value);"
          style="width: 99%;">
        <div *ngIf="searchform.controls.SearchEmpDetails.errors?.minlength">Minimum 3 characters required.</div>
      </div>
    </form>
  </div>
  <div style="margin-left: 1.5rem;margin-right: 1.5rem;">
    <table class="table table-hover table-responsive table-bordered table">
      <thead class="tableHead">
        <th> Employee Number </th>
        <th> Organization </th>
        <th>First Name</th>
        <th> Last Name</th>
        <th> Role Name </th>
        <th>Employee Status</th>
        <th>Job Title</th>
        <th>Contact No</th>
      </thead>
      <tbody>
        <tr *ngFor="let e of employeedetailstable" [routerLink]="['Editemployee',e.EmployeeKey]">
          <td>{{ e.EmployeeNumber }}</td>
          <td>{{ e.OrganizationName }}</td>
          <td>{{ e.FirstName }}</td>
          <td>{{ e.LastName }}</td>
          <td>{{ e.UserRoleName }}</td>
          <td>{{ e.EmployeeStatus }}</td>
          <td>{{ e.JobTitle }}</td>
          <td>{{ e.PrimaryPhone }}</td>
        </tr>
        <tr *ngIf="employeedetailstable?.length == 0">
          <td colspan="8" class="no-data-available">No records found</td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-success" style="float: left;" (click)="previousPage()" *ngIf="showHide1">&#60;&#60; Previous</button>
    <button class="btn btn-success" style="float: right;" (click)="nextPage()" *ngIf="showHide2">Next >></button>
  </div>
</div>