<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark">
  <mdb-navbar-brand>
    <a class="navbar-brand" href="http://troodontechnology.com/">
      <img src="assets/img/TROOWORK.png" style="width: 10rem;">
    </a>
  </mdb-navbar-brand>
</mdb-navbar>
<div style="overflow-x: hidden">

  <div style="background-color: white !important; padding-bottom: 2rem;padding-top: 2rem">
    <h5 *ngIf="flag == 1" style="font-weight: 700;text-align: center">
      THANK YOU FOR SUBMITTING YOUR VALUABLE FEEDBACK.<br>
      HAVE A GOOD DAY.
    </h5>
    <h5 *ngIf="flag == 2" style="font-weight: 700;text-align: center">
      THANK YOU FOR SUBMITTING THE REQUEST FOR CLEANING.WE WILL DO THE NEEDFUL ASAP<br>
      HAVE A GOOD DAY.
    </h5>
  </div>
  <br>

  <br>
</div>
<div class="container bg-footer" style="width: 102%;max-width:102%;">
  <div class="row">
    <div class="col-md-12 mt-3">
      <p class="text-sm-center">
        © 2018 TrooWork - All Rights Reserved /Privacy Policy/ Sitemap
        <br>
      </p>
    </div>
  </div>
</div>