<div style="margin-left: 15rem;margin-right: 15rem;">
  <div style="text-align:center">
    <h4 style="color: #174a5e;">RESET PASSWORD</h4>
  </div>

  <br>
  <div class="col-md-12 bg-info" style="padding-top: 1rem">
    <div class="row col-md-12">
      <h5 style="text-align:right" class="col-md-4"><label for="currentPassword">Current Password:
        </label></h5>
      <div class="col-md-8" style="text-align:left">
        <input type="text" style="background-color: #D4F4FF !important;" class="form-control" [(ngModel)]="Password"
          readonly>
      </div>
    </div><br>
    <div class="row col-md-12">
      <h5 style="text-align:right" class="col-md-4"><label for="newPassword">New Password: </label></h5>
      <div class=" col-md-8" style="text-align:left">
        <input type="password" placeholder="Password" style="background-color: #D4F4FF !important;" maxlength="19"
          class="form-control" [(ngModel)]="newPassword">
      </div>
    </div><br>
    <div class="row col-md-12">
      <h5 style="text-align:right" class="col-md-4"><label for="building">Re-type Password: </label></h5>
      <div class=" col-md-8" style="text-align:left">
        <input type="password" placeholder="Re-type Password" style="background-color: #D4F4FF !important;" maxlength="19"
          class="form-control" [(ngModel)]="repeatPassword">
      </div>
    </div><br>
    <div class="row col-md-12" style="margin-left: 40%">
      <a style="color:white !important" class="btn btn-success" routerLinkActive="active" (click)="paswordchange()"><b>Reset
          and Send Email</b>
      </a>
    </div>
  </div>

</div>