<div style="padding-left: 9rem;padding-right: 9rem;">
  <div class="row col-md-12 ">
    <h4 style="margin-left: 42%;margin-top: 3.5%">CREATE PTO REQUEST</h4>
  </div>
  <div style="margin-left: 1.5rem;margin-right: 1.5rem;;margin-top: 2%" class="row bg-info col-md-12">

    <div class="col-md-6">
      <div class="form-group " style="margin-top: 1.6rem">
        <label style="margin-top: 2rem;"> Start Date*</label>
        <ng-datepicker [options]="options" position="top-right" [(ngModel)]="startdate"></ng-datepicker>
      </div>
      <div class="form-group" style="margin-top: 1.6rem">
        <label> End Date*</label>
        <ng-datepicker [options]="options1" position="top-right" [(ngModel)]="enddate"></ng-datepicker>
      </div>
      <div class="form-group" style="margin-top: 1.6rem">
        <label> PTO Remaining</label>
        <input type="text" [(ngModel)]="ptoreason"  maxlength="75" style="background-color: #D4F4FF !important;width: 75%;" class="form-control"/>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group" style="margin-top: 1.6rem">
        <label style="margin-top: 2rem;">Comments</label>
        <textarea class="form-control rounded-1" maxlength="200" [(ngModel)]="comments" rows="9"
          style="resize: none;"></textarea>
      </div>
    </div>
    <br>
    <br>
    <div class="row col-md-12" style="margin-left:40%">
      <button type="button" style="text-align:center" class="btn btn-success"
        (click)="submitRequest()"><b>SUBMIT</b></button>
    </div>
    <br>
  </div>
</div>