<img *ngIf="loading" src="../../../../../assets/img/loader.gif" style="margin-left: 35rem; width: 20%" />
<!-- <div style="width: 100%;height: 100%;">
  <div class="bg-dark" style="width: 100%;height: 100%;"> -->
<div *ngIf="!loading" style="padding-left: 9rem;padding-right: 9rem;">
  <h4 class="refer" style="margin-left: 40%">DOCUMENT FOLDER</h4>
  <br>
  <div style="text-align:center">
    <a [routerLink]="['NewdocumentfolderCreate']" class="btn btn-success"><b>Create New Document
        Folder</b>
    </a>
  </div>
  <form [formGroup]="searchform">
    <div class="active-pink-3 active-pink-4 mb-4" style="margin-left: 1.5rem;margin-right: 1.5rem;">
      <input class="form-control" name="searchdocfol" maxlength="20" specialIsAlphaNumeric minlength="3" type="text"
        placeholder="Search For Document Folder" aria-label="Search" [(ngModel)]="SearchDocFol" formControlName="SearchDocFol"
        (input)="searchDocumentFolder($event.target.value);" style="width: 100%;">
      <div *ngIf="searchform.controls.SearchDocFol.errors?.minlength">Minimum 3 characters required.</div>
    </div>
  </form>
  <div style="margin-left: 1.5rem;margin-right: 1.5rem;">
    <table class="table table-responsive table-hover table-bordered table" style="display: inline-table;">
      <thead class="tableHead">
        <th> Document Folders </th>
        <th>Edit</th>
      </thead>
      <tbody>
        <tr *ngFor="let d of documents">
          <td>{{ d.FormType }}</td>

          <td>
            <a [routerLink]="['DocumentfolderEdit',d.FormtypeId]" class="btn btn-primary"><b>Edit</b></a>&nbsp;&nbsp;
            <a class="btn btn-danger" (click)="basicModal.show();deleteFolderPass(d.FormtypeId); "><b>Delete</b></a>
          </td>
        </tr>
        <tr *ngIf="documents?.length == 0">
          <td colspan="2" class="no-data-available">No records found</td>
        </tr>
        <div mdbModal #basicModal="mdbModal" class="modal fade" role="dialog" aria-labelledby="myBasicModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                  <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100" id="myModalLabel"></h4>
              </div>
              <div class="modal-body">
                Are you sure you want to delete this?
              </div>
              <div class="modal-footer">
                <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal.hide(); deleteFolder()"
                  mdbWavesEffect>Yes</button>
                <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="basicModal.hide()"
                  mdbWavesEffect>No</button>
              </div>
            </div>
          </div>
        </div>
      </tbody>
    </table>
    <button class="btn btn-success" (click)="previousPage()" *ngIf="showHide1">&#60;&#60; Previous</button>
    <button class="btn btn-success" (click)="nextPage()" *ngIf="showHide2">Next >></button>
  </div>
</div>