<img *ngIf="loading" src="../../../../../assets/img/loader.gif" style="margin-left: 35rem; width: 20%" />
<div *ngIf="!loading" style="padding-left: 9rem;padding-right: 9rem;padding-top: 3rem">
  <div class="row col-md-12 ">
    <h4 style="margin-left: 42%;">VIEW INSPECTION ORDER</h4>
  </div>

  <div style="margin-left: 1.5rem;margin-right: 1.5rem;margin-top: 2rem; width: 97%;" class="row bg-info col-md-12">
    <h3 style="text-align: right"></h3>
    <div class="col-md-6">
      <div class="form-group">
        <label style="margin-top: 2rem;margin-left: -1rem;" class="col-sm-4 col-md-4 col-lg-4 ">From Date</label>

        <!-- <igx-datePicker cancelButtonLabel="CANCEL" todayButtonLabel="TODAY" [labelVisibility]="none" [value]="date1" [(ngModel)]="fromdate"
        (onSelection)="filteringInspectionManagerByDate()"></igx-datePicker> -->
        <ng-datepicker [options]="options" position="top-right" [(ngModel)]="fromdate"
          (ngModelChange)="filteringInspectionManagerByDate()"></ng-datepicker>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label style="margin-top: 2rem; margin-left: -1rem;" class="col-sm-4 col-md-4 col-lg-4 ">To Date</label>
        <!-- <igx-datePicker cancelButtonLabel="CANCEL" todayButtonLabel="TODAY" [labelVisibility]="none" [value]="date1" [(ngModel)]="todate"
          (onSelection)="filteringInspectionManagerByDate()"></igx-datePicker> -->
        <ng-datepicker [options]="options" position="top-right" [(ngModel)]="todate"
          (ngModelChange)="filteringInspectionManagerByDate()"></ng-datepicker>
      </div>
    </div>
    <br>

  </div>
  <br>
  <div class="col-md-12">
    <form [formGroup]="searchform">
      <div class="active-pink-3 active-pink-4 mb-4" style="margin-left: 0.5rem;margin-right: 1.5rem;">
        <input class="form-control" name="searchtl" maxlength="20" specialIsAlphaNumeric minlength="3" type="text"
          placeholder="Search Template,Location" aria-label="Search" [(ngModel)]="SearchTL" formControlName="SearchTL"
          (input)="searchTL($event.target.value);" style="width: 102.6%;">
        <div *ngIf="searchform.controls.SearchTL.errors?.minlength">Minimum 3 characters required.</div>
      </div>
    </form>
  </div>
  <br>
  <div class="row col-md-12" style="margin-left: 0.5rem">
    <br>
    <table class="table table-responsive table-hover table-bordered table" style="display: inline-table;">
      <thead class="tableHead">
        <th> Template </th>
        <th>Location</th>
        <th>Inspection Date & Time</th>
        <th>Auditor</th>
        <th>Employee</th>
        <th>Status</th>
        <th>View</th>
        <th *ngIf="checkflag==false">Delete</th>
        <th *ngIf="checkflag==true"> <button class="btn btn-danger button_style" type="button"
            (click)="basicModal.show();">
            Delete</button></th>
      </thead>
      <tbody>
        <tr *ngFor="let i of inspectionordertable; let k=index">
          <td>{{i.TemplateName}} </td>
          <td>{{i.FacilityName}}-{{i.RoomId}} </td>
          <td>{{i.Inspectiondate}} {{i.InspectionTime}}</td>
          <td>{{i.LastName}},{{i.FirstName}} </td>
          <td>{{i.EmployeeName}}</td>
          <td *ngIf="i.InspectionCompletedBy !== null"> <a (click)='GoView(i.InspectionOrderKey)' style="width: 100%;"
              class="btn btn-primary"><b>Inspection
                Completed </b></a></td>
          <td *ngIf="i.InspectionCompletedBy === null && ('' + i.EmployeeKey === toServeremployeekey)" > <a
              [routerLink]="['Managerinspectiontemplate',i.InspectionOrderKey]" style="width: 100%;"
              class="btn btn-primary"><b>Inspect</b></a></td>
          <td *ngIf="i.InspectionCompletedBy === null && ('' + i.EmployeeKey !== toServeremployeekey)">Scheduled</td>
          <td> <a href="Inspection-Upload/{{i.ImageName}}" target="_self" onclick="window.open(this.href, 'popup', 'width=600,height=600,scrollbars=no,resizable=no');
            return false;">
              <button type="button" class="btn btn-default btn-xs" style="margin-top: -1%;"
                *ngIf="i.IsPhoto === 1 && i.InspectionCompletedBy !== null ">View
                Image</button>
            </a> </td>
          <td *ngIf="i.InspectionCompletedBy !== null"></td>
          <td *ngIf="i.InspectionCompletedBy === null && ('' + i.EmployeeKey === toServeremployeekey)">
            <input type="checkbox" [(ngModel)]="i.deletechkbox" style="margin-left: 35%;margin-top: 30%"
              (change)="toggleVisibility($event);checkBoxValueForDelete(k,i.deletechkbox, i.InspectionOrderKey);">
          </td>
          <td *ngIf="i.InspectionCompletedBy === null && ('' + i.EmployeeKey !== toServeremployeekey)">
            <input type="checkbox" [(ngModel)]="i.deletechkbox" style="margin-left: 35%;margin-top: 30%"
              (change)="toggleVisibility($event);checkBoxValueForDelete(k,i.deletechkbox, i.InspectionOrderKey);"> </td>
        </tr>
        <tr *ngIf="inspectionordertable?.length == 0">
          <td colspan="8" class="no-data-available">No records found</td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-success" style="float:left;" (click)="previousPage()" *ngIf="showHide1">&#60;&#60;
      Previous</button>&nbsp;&nbsp;&nbsp;&nbsp;
    <button class="btn btn-success" style="float:right;" (click)="nextPage()" *ngIf="showHide2">Next >></button>
  </div>
  <div mdbModal #basicModal="mdbModal" class="modal fade" role="dialog" aria-labelledby="myBasicModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title w-100" id="myModalLabel"></h4>
        </div>
        <div class="modal-body">
          Are you sure you want to delete this?
        </div>
        <div class="modal-footer">
          <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close"
            (click)="basicModal.hide(); deleteInspectionOrder()" mdbWavesEffect>Yes</button>
          <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="basicModal.hide()"
            mdbWavesEffect>No</button>
        </div>
      </div>
    </div>
  </div>
</div>