<div style="padding-left: 9rem;padding-right: 9rem;">
  <div class="row col-md-12 ">
    <h4 style="margin-left: 40%;">VIEW TRADE REQUESTS</h4>
  </div>
  <br>
  <!-- <div style="margin-left: 1.5rem;margin-right: 1.5rem;" class="row bg-info col-md-12"> -->
  <div style="margin-left: 1.5rem;margin-right: 1.5rem; text-align: center;">
    <table class="table table-responsive table-hover table-bordered table" style="display: inline-table">
      <thead class="tableHead">
        <th> Requested Employee Number </th>
        <th> Requested Employee Name </th>
        <th> Trade Employee Number </th>
        <th> Trade Employee Name </th>
        <th> Submitted Date </th>
        <th> Trade Requested Date </th>
        <th> Status </th>
        <th> Action </th>
      </thead>
      <tbody>
        <tr *ngFor="let x of traderequestdetails">
          <td>{{ x.EmployeeNo }}</td>
          <td>{{ x.employeename }}</td>
          <td>{{ x.otherEmployeeNo }}</td>
          <td>{{ x.otheremployeename }}</td>
          <td>{{ x.SubmittedDate }}</td>
          <td>{{ x.StartDate }} to {{ x.EndDate }}</td>
          <td>{{ x.RequestStatus }}</td>
          <td>
            <a [routerLink]="['TradeRequestAction', x.trade_requestID]" class="btn btn-primary"><b>VIEW</b></a>&nbsp;&nbsp;
          </td>
        </tr>
        <tr *ngIf="traderequestdetails?.length == 0">
          <td colspan="8" class="no-data-available">No records found</td>
        </tr>
      </tbody>
    </table>
    </div>
</div>

