<div style="padding-left: 9rem;padding-right: 9rem;">
  <div class="row col-md-12 ">
    <h4 style="margin-left: 40%;"> TRADE REQUEST APPROVAL </h4>
  </div>
  <br>

  <div *ngIf="traderequestdetailsbyID" class="row bg-info col-md-12" style="padding-top: 2rem;padding-bottom: 1rem;">
    <div class="col-md-6">
      <div class="form-group">
        <label>Requested Employee Number</label>
        <input type="text" class="form-control  col-sm-9 col-md-9 col-lg-9" maxlength="19" [disabled]=!editflag
          [(ngModel)]="traderequestdetailsbyID.EmployeeNo">
      </div>
      <div class="form-group">
        <label class="col-sm-6 col-md-6 col-lg-6 " style="margin-left: -1rem;">Trade Employee Number</label>
        <input type="text" class="form-control  col-sm-9 col-md-9 col-lg-9" maxlength="19" [disabled]=!editflag
          [(ngModel)]="traderequestdetailsbyID.otherEmployeeNo">
      </div>
      <div class="form-group">
        <label class="col-sm-6 col-md-6 col-lg-6 " style="margin-left: -1rem;"> Start Date</label>
        <ng-datepicker [options]="options" position="top-right" [disabled]=!editflag
          [(ngModel)]="traderequestdetailsbyID.StartDate"></ng-datepicker>
      </div>
      <div class="form-group">
        <label class="col-sm-6 col-md-6 col-lg-6 " style="margin-left: -1rem;">Submitted Date</label>
        <ng-datepicker [options]="options" position="top-right" [disabled]=!editflag
          [(ngModel)]="traderequestdetailsbyID.SubmittedDate"></ng-datepicker>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <label class="col-sm-6 col-md-6 col-lg-6 " style="margin-left: -1rem;">Requested Employee Name</label>
        <input type="text" class="form-control  col-sm-9 col-md-9 col-lg-9" [disabled]=!editflag
          (keypress)="charValidation($event)" maxlength="19" [(ngModel)]="traderequestdetailsbyID.employeename">
      </div>
      <div class="form-group">
        <label class="col-sm-6 col-md-6 col-lg-6 " style="margin-left: -1rem;">Trade Employee Name</label>
        <input type="text" class="form-control  col-sm-9 col-md-9 col-lg-9" [disabled]=!editflag
          (keypress)="charValidation($event)" maxlength="19" [(ngModel)]="traderequestdetailsbyID.otheremployeename">
      </div>
      <div class="form-group">
        <label class="col-sm-6 col-md-6 col-lg-6 " style="margin-left: -1rem;"> End Date</label>
        <ng-datepicker [options]="options" position="top-right" [disabled]=!editflag
          [(ngModel)]="traderequestdetailsbyID.EndDate"></ng-datepicker>
      </div>
      <div class="form-group">
        <label class="col-sm-6 col-md-6 col-lg-6 " style="margin-left: -1rem;">Comments</label><br>
        <textarea class="form-control rounded-1" maxlength="200" [disabled]=!editflag
          [(ngModel)]="traderequestdetailsbyID.Comments" rows="5"
          style="resize: none;width: 75% !important;"></textarea>
      </div>
    </div>

    <div *ngIf="traderequestdetailsbyID.RequestStatus=='Approved'||traderequestdetailsbyID.RequestStatus=='Rejected'"
      class="col-md-6">
      <div class="form-group">
        <label class="col-sm-6 col-md-6 col-lg-6 " style="margin-left: -1rem; margin-top: 2rem;">Status Date</label>
        <ng-datepicker [options]="options" position="top-right" [disabled]=!editflag [(ngModel)]="statuscurrentdate">
        </ng-datepicker>
      </div>
      <div class="form-group">
        <label class="col-sm-6 col-md-6 col-lg-6 " style="margin-left: -1rem;">Approved Start Date</label>
        <ng-datepicker [options]="options" position="top-right" [disabled]=!editflag
          [(ngModel)]="traderequestdetailsbyID.ApprovedStartDate"></ng-datepicker>
      </div>
      <div class="form-group">
        <label class="col-sm-6 col-md-6 col-lg-6 " style="margin-left: -1rem;">Approved End Date</label>
        <ng-datepicker [options]="options" position="top-right" [disabled]=!editflag
          [(ngModel)]="traderequestdetailsbyID.ApprovedEndDate"></ng-datepicker>
      </div>
      <div *ngIf="assignmentdetails?.length != 0" class="form-group col-md-6">
        <label style="margin-left: -1rem">Assignment List</label>
        <textarea class="form-control " maxlength="200" readonly=!editflag [(ngModel)]="assignmentdetails" rows="5"
          style="resize: none;width: 77.5% !important;margin-left: -1rem"></textarea>
      </div>
    </div>

    <div *ngIf="traderequestdetailsbyID.RequestStatus=='Approved'||traderequestdetailsbyID.RequestStatus=='Rejected'"
      class="col-md-6">
      <div class="form-group">
        <label class="col-sm-6 col-md-6 col-lg-6 "
          style="margin-left: -1rem;margin-top: 2rem; width: 20%;">Status</label>
        <input type="text" style="background-color: #d4f4ff !important;" [disabled]=!editflag
          class="form-control col-sm-9 col-md-9 col-lg-9" [(ngModel)]="traderequestdetailsbyID.RequestStatus">
      </div>
      <div class="form-group" style="margin-top: 1.3rem">
        <label class="col-sm-6 col-md-6 col-lg-6 " style="margin-left: -1rem;">Status Comments</label>
        <textarea class="form-control rounded-1" maxlength="200" [disabled]=!editflag
          [(ngModel)]="traderequestdetailsbyID.StatusComment" rows="5"
          style="resize: none;width: 75% !important;"></textarea>
      </div>
    </div>
    <div class="form-group col-md-6">
      <div *ngIf="traderequestdetailsbyID.RequestStatus=='Pending'" class="form-group">
        <label class="col-sm-6 col-md-6 col-lg-6 " style="margin-left: -1rem; width: 20%;">Status*</label>
        <select style="background-color: #d4f4ff !important;" class="form-control col-sm-9 col-md-9 col-lg-9"
          [(ngModel)]="traderequestdetailsbyID.Status">
          <option value="">--Select--</option>
          <option value="Approved">Approved</option>
          <option value="Rejected">Rejected</option>
        </select>
      </div>

      <div
        *ngIf="traderequestdetailsbyID.RequestStatus=='Pending' && traderequestdetailsbyID.Status!='Rejected' && traderequestdetailsbyID.Status!=''  ">
        <div class="form-group">
          <label class="col-sm-6 col-md-6 col-lg-6 " style="margin-left: -1rem;">Approved Start Date*</label>
          <ng-datepicker [options]="options1" position="top-right"
            [(ngModel)]="traderequestdetailsbyID.ApprovedStartDate"></ng-datepicker>
        </div>
        <div class="form-group">
          <label class="col-sm-6 col-md-6 col-lg-6 " style="margin-left: -1rem;">Approved End Date*</label>
          <ng-datepicker [options]="options1" position="top-right"
            [(ngModel)]="traderequestdetailsbyID.ApprovedEndDate"></ng-datepicker>
        </div>
      </div>
    </div>

    <div *ngIf="traderequestdetailsbyID.RequestStatus=='Pending'" class="form-group col-md-6">
      <div *ngIf="traderequestdetailsbyID.RequestStatus=='Pending'">
        <label class="col-sm-6 col-md-6 col-lg-6 " style="margin-left: -1rem;">Status Date</label>
        <ng-datepicker [options]="options" position="top-right" [disabled]=!editflag [(ngModel)]="statuscurrentdate">
        </ng-datepicker>
      </div>
      <div class="form-group" style="margin-top: 1.3rem">
        <label class="col-sm-6 col-md-6 col-lg-6 " style="margin-left: -1rem;">Status Comments*</label>
        <textarea class="form-control rounded-1" maxlength="200" [(ngModel)]="traderequestdetailsbyID.StatusComment"
          rows="5" style="resize: none;width: 75% !important;"></textarea>
      </div>
    </div>
    <div *ngIf="assignmentdetails?.length != 0 && traderequestdetailsbyID.RequestStatus=='Pending'"
      class="form-group col-md-6">
      <label style="margin-left: -1rem">Assignment List</label>
      <textarea class="form-control " maxlength="200" readonly=!editflag [(ngModel)]="assignmentdetails" rows="5"
        style="resize: none;width: 77.5% !important;margin-left: -1rem"></textarea>
    </div>
    <div class="row bg-info col-md-12">
      <div *ngIf="traderequestdetailsbyID.RequestStatus=='Approved'||traderequestdetailsbyID.RequestStatus=='Rejected'"
        style="margin-left:42%">
        <a (click)='goBack()' class="btn btn-warning" style="text-align:center;margin-left:42%"><b>Go Back</b></a>
      </div>
      <div *ngIf="traderequestdetailsbyID.RequestStatus=='Pending'" style="margin-left:42%">
        <button type="button" class="btn btn-success" style="text-align:center;"
          (click)="saveTradeRequestAction()"><b>SAVE</b></button>
      </div>
    </div>
  </div>
</div>